.side-bar{
  width: 72px;
  background-color: white;
  color: black;
  position: fixed;
  top: 58px;
  left: 0;
  bottom: 0;
}


.homeB{
  width: 72px;
  border: none;
  font-size: 10px;
  font-family: Roboto;
  background-color: white;
  transition: background-color 0.15s;
}
.homeB:hover{
  background-color: rgba(0, 0, 0, 0.06);
}

.home{
  height: 25px;
}

.exploreB{
  width: 72px;
  border: none;
  font-size: 10px;
  font-family: Roboto;
  background-color: white;
  transition: background-color 0.15s;
}


.subscriptionB{
  width: 72px;
  border: none;
  font-size: 10px;
  font-family: Roboto;
  background-color: white;
  transition: background-color 0.15s;
  
}


.orignalB{
  width: 72px;
  border: none;
  font-size: 10px;
  font-family: Roboto;
  background-color: white;
  transition: background-color 0.15s;

}


.musicB{
  width: 72px;
  border: none;
  font-size: 10px;
  font-family: Roboto;
  background-color: white;
  transition: background-color 0.15s;
}

.libraryB{
  width: 72px;
  border: none;
  font-size: 10px;
  font-family: Roboto;
  background-color: white;
  transition: background-color 0.15s;
}
